<div ng-controller="CollectionCtrl" ng-init="init()">
  <div class="col-md-12"  style="padding-top: 20px">
    <div class="page-header subnav">
      <h2>
        {{ collection.name }} 
        <a href="#/collections" class="pull-left subnav-link">
          <i class="fa fa-chevron-left"></i>
        </a>
      </h2>
    </div>
    <p style="margin-top:30px">
      <a ng-click="openModalItem(newItem,'new')" class="btn btn-primary"><i class="fa fa-plus"></i> Adicionar Item</a>
      <a ng-click="openModalCollection()" class="btn btn-primary"><i class="fa fa-edit"></i> Editar Colecao</a>
      <a ng-click="generateReport()" ng-show="collection.reportable" class="btn btn-primary pull-right"><i class="fa fa-bar-chart-o"></i> Generar Reporte</a>
    </p>
    <p class="well"> {{collection.description}}</p>
    <div class="panel panel-default" ng-show="reports.length > 0">
      <div class="panel-body">        
        <div class="btn-group download" ng-repeat="report in reports" dropdown is-open="status.isopen">
          <button type="button" class="btn btn-green">
            <i class="fa fa-file-pdf-o"></i> Relatorio {{ report.created_at }}
          </button>
          <button type="button" class="btn btn-green dropdown-toggle">
            <span class="caret"></span>
            <span class="sr-only">Split button!</span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a ng-href="{{report.pdf}}" target="_blank">
                <i class="fa fa-download"></i> Baixar
              </a>
              <a href="#"><i class="fa fa-trash-o"></i> Apagar</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
    <div class="panel panel-default">
      <div class="panel-body">
        <div ng-show="{items.lenght > 0}"><h4> Nao ha items</h4></div>
        <div class="col-md-4" ng-repeat='item in items'>
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <h4>
                  {{ item.name }}
                  <a href="#/items/{{item.id}}" class="pull-right"><i class="fa fa-chevron-right"></i></a>
                </h4>
              </div>
            </div>
            <div class="panel-body">
              <div class="clearfix">
                <img ng-src="{{item.cover}}" style="width:60px;height:50px;float:left;margin: 0 10px 10px 0;background: #f1f1f1"/>
              
                <p style="float:right;width:200px">{{ item.description}}</p>
              </div>
              <hr>
              <a ng-click="openModalItem(item,'edit')" class="btn btn-default btn-xs">Editar</a>
              <a ng-click="remove(item)" class="btn btn-danger btn-xs pull-right"><i class="fa fa-trash-o"></i> Apagar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/ng-template" id="reportModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Collection Report</h3>
  </div>
  <div class="modal-body">
    <p class="well">Generating report</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="cancel()">OK</button>
  </div>
</script>