<div class="navbar navbar-default subnav" ng-init="init()">
  <div class="col-md-12">
    <h2>
      <i class="fa fa-tags"></i> Itens
      <a ng-click="openModal(null,'new')" class="btn btn-green pull-right">
        <i class="fa fa-plus"></i> Novo Item
      </a>
    </h2>
  </div>
</div>
<div style="margin-top:30px">
  <div ng-class="{'col-md-7':selected, 'col-md-12':!selected}">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="collection in collections">
        <h4>
          <a ng-click="setSelected(collection)">
            <i class="fa fa-tag"></i> {{ collection.name }} 
          </a>
          <div class="pull-right" style="color:#9D9B9E;font-size:13px">{{ collection.entry_date}} <i class="fa fa-calendar"></i></div>
        </h4>
        <p class="well well-sm">
          {{ collection.description}}
        </p>
        <p>
          <i class="fa fa-map-marker"></i> {{ collection.origin}} - {{ collection.owner}}
        </p>
      </li>
    </ul>
  </div>
  <div class="col-md-5" ng-show="selected">
    <div class="item-panel">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <h4 ng-show="selected">
              {{selected_collection.name}}
              <button ng-click="close_selected()" ng-show="selected" class="close pull-right">×</button>
            </h4>
          </div>
        </div>
        <div class="panel-body">
          <div ng-hide="selected" class="box" style="background: #f1f1f1;height: 100px">
            
          </div>
          <div ng-show="selected">
            <h5 class="text-muted" ng-show="selected_collection.items.length < 1">
              No há peças
            </h5>
            <div class="item" ng-repeat="item in selected_collection.items">
              <i class="fa fa-chevron-right"></i>
              <a href="#/items/{{item.id}}"> {{ item.name }}</a>
            </div>
            <div ng-show="selected">
              <hr>
              <div class="btn-group btn-group-sm" >
                <a href="#/collections/{{selected_collection.id}}" class="btn btn-default"><i class="fa fa-search"></i> Abrir</a>
                <a ng-click="openModal(selected_collection,'edit')" class="btn btn-default"><i class="fa fa-edit"></i> Editar</a>
              </div>
              <a ng-click="remove(selected_collection)" class="btn btn-danger btn-sm pull-right"><i class="fa fa-times"></i> Apagar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
