<div class="modal-header">
  <h3  ng-show="!element.id" class="modal-title">Novo Item</h3>
  <h3  ng-show="element.id" class="modal-title">Editar Item</h3>  
</div>
<div class="modal-body">
  <form name="addCollection" role="form">
    <div class="form-group" ng-class="{'has-error':addCollection.name.$invalid && addCollection.name.$dirty}">
      <label class="form-label">Nome</label>
      <div class="controls">
        <input type="text" name="name" class="form-control" required ng-model="element.name" value="element.name"/>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error':addCollection.description.$invalid && addCollection.description.$dirty}">
      <label class="form-label">Descrição</label>
      <textarea value="element.description" name="description" class="form-control" required ng-model="element.description"/>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button ng-disabled="addCollection.$invalid" ng-show="element.id" ng-click="updateCollection(element)" class="btn btn-primary">
    Atualizar
  </button>
  <button ng-disabled="addCollection.$invalid" ng-show="!element.id" ng-click="saveCollection(element)" class="btn btn-primary">
    Salvar
  </button>
  <a ng-click="cancel()" class="btn btn-default">Fechar</a>
</div>