<div class="navbar navbar-default subnav" ng-init="init()">
  <div class="col-md-12">
    <h2>
      {{ item.name }}
      <a href="#/collections/{{collection.id}}" class="pull-left subnav-link">
        <i class="fa fa-chevron-left"></i>
      </a>
      <div class="btn btn-group btn-group-sm pull-right">
        <a ng-click="openModalItem(item,'edit')" class="btn btn-primary">
          <i class="fa fa-edit"></i>
          Editar
        </a>
        <a ng-click="openTreatmentModal(null)" class="btn btn-primary">
          <i class="fa fa-plus"></i>
          Tratamento
        </a>
         <a ng-click="openDetailModal(null, 'materiales')" class="btn btn-primary">
          <i class="fa fa-plus"></i>
          Material
        </a>
        <a ng-click="openDetailModal(null, 'medidas')" class="btn btn-primary">
          <i class="fa fa-plus"></i>
          Medida
        </a>
      </div>
    </h2>
  </div>
</div>
<div class="alert alert-panel" ng-class='"alert-" + (alert.type || "warning")' ng-show="alert.message != ''" style="margin: -1px -15px;">
   <button type="button" class="close" ng-click="closeAlert()">&times;</button>
  {{alert.message}}
</div>
<div style="margin-top:30px">
  <div class="col-md-3" id="item-cover">
    <img ng-src="{{item.cover}}" id="preview"/>
    <span class="cover" ng-click="updateFile = !updateFile" ng-init="updateFile=false">alterar imagem <i class="fa fa-camera"></i></span>
  </div>
  <div class="col-md-9">
    <p class="well well-xs" style="height:150px"> {{ item.description }} </p>
  </div>

  <div class="col-md-12" ng-show="updateFile">
    <form ng-submit="uploadCover()" id="itemCover">
      <div class="fileUpload image-placeholder">
        <input id="uploadFile" placeholder="Selecionar imagem"  ng-model="name" disabled/>
        <input ng-file-select="onFileSelect($files)" accept="image/*" type="file" class="upload" id="cover" type="file"/>
        <i class="fa fa-camera"></i>
      </div>
      <button type="submit" disabled="true" id="submitCover" class="btn btn-sm btn-primary">Carregar</button>
    </form>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <h4>
            Medidas <span style="color:#6A696B;font-size:13px">(em centimetros)</span>
          </h4>
        </div>
      </div>
      <table class="table details-table">
        <thead>
          <th>
            <a ng-click="predicate1 = 'name'; reverse1 = !reverse1">Nome</a>
            <span ng-show="predicate1 === 'name' && reverse1 === true"><i class="fa fa-angle-up"></i></span>
            <span ng-show="predicate1 === 'name' && reverse1 === false"><i class="fa fa-angle-down"></i></span>
          </th>
          <th>
            <a ng-click="predicate1 = 'value'; reverse1 = !reverse1">Valor</a>
            <span ng-show="predicate1 === 'value' && reverse1 === true"><i class="fa fa-angle-up"></i></span>
            <span ng-show="predicate1 === 'value' && reverse1 === false"><i class="fa fa-angle-down"></i></span>
          </th>
          <th></th>
        </thead>
        <tbody>
          <tr ng-repeat="medida in item.medidas | orderBy:predicate1:reverse1" class="detail-row">
            <td>{{ medida.name }}</td>
            <td>{{ medida.value }}</td>
            <td class="detail-actions">
              <div class="actions">
                <a ng-click="openDetailModal(medida, medida.detail_type)"><i class="fa fa-edit"></i></a>
                <a ng-click="deleteDetail(medida)" class="text-danger"><i class="fa fa-trash-o"></i></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <h4>
            Materiais
          </h4>
        </div>
      </div>
      <table class="table details-table">
        <thead>
          <th>
            <a ng-click="predicate2 = 'name'; reverse2 = !reverse2">Nome</a>
            <span ng-show="predicate2 === 'name' && reverse2 === true"><i class="fa fa-angle-up"></i></span>
            <span ng-show="predicate2 === 'name' && reverse2 === false"><i class="fa fa-angle-down"></i></span>
          </th>
          <th>
            <a ng-click="predicate2 = 'value'; reverse2 =! reverse2">Valor</a>
            <span ng-show="predicate2 === 'value' && reverse2 === true"><i class="fa fa-angle-up"></i></span>
            <span ng-show="predicate2 === 'value' && reverse2 === false"><i class="fa fa-angle-down"></i></span>
          </th>
          <th></th>
        </thead>
        <tbody>
          <tr ng-repeat="material in item.materials | orderBy:predicate2:reverse2" class="detail-row">
            <td>{{ material.name }}</td>
            <td>{{ material.value }}</td>
            <td class="detail-actions">
              <div class="actions">
                <a ng-click="openDetailModal(material, material.detail_type)"><i class="fa fa-edit"></i></a>
                <a ng-click="deleteDetail(material)" class="text-danger"><i class="fa fa-trash-o"></i></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title"><h4>Tratamentos</h4></div>
      </div>
      <div class="panel-body">
        <div ng-repeat="treatment in item.treatments">
          <div class="panel panel-default">
            <div class="panel-heading">
            <div class="panel-title">
              <h4>
                <i class="fa fa-circle" ng-class="{'text-danger':!treatment.closed, 'text-success':treatment.closed}"></i>
                <a href="#/items/{{item.id}}/treatments/{{treatment.id}}">
                  Tratamento #{{ treatment.id }}
                </a>
                <div class="btn-group btn-group-xs pull-right" >  
                  <a ng-click="openTreatmentModal(treatment)" class="btn btn-primary" ng-if="!treatment.closed">Editar</a>
                  <a ng-click="closeTreatment(treatment)" ng-if="!treatment.closed" class="btn btn-primary">Encerrar</a>
                  <a ng-click="openTreatment(treatment)"  ng-if="treatment.closed" class="btn btn-primary">Reabrir</a>
                </div>
              </h4>
            </div>
            </div>
            <div class="panel-body">
              <p>
                <i class="fa fa-lock" ng-show="treatment.closed"></i>
                <i class="fa fa-unlock" ng-show="!treatment.closed"></i>
                <b> {{ treatment.closed ? 'Encerrado' : 'Aberto'}}</b>
              </p>
              <i class="fa fa-calendar"></i> 
              Criado no dia <span class="text-primary">{{ treatment.created_at }}</span>
              <i class="fa fa fa-ellipsis-v"></i>
              Ultima atualizacao foi <span class="text-primary">{{ treatment.updated_at}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <h4>
            Imagens
          </h4>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4" ng-repeat="image in item.images">
            <div class="thumbnail">
              <a href="#/treatments/{{image.treatment}}/images/{{image.id}}">
                <img ng-src="{{image.photo}}" style="height:100px">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>