<div class="navbar navbar-default subnav" ng-init="init()">
  <div class="col-md-12">
    <h2>
      <i class="fa fa-camera"></i> {{ 'IMAGE.PLUR' | translate }}
      <a class="pull-right btn btn-primary" ng-click="toggleDetails = true" ng-hide="toggleDetails"><i class="fa fa-plus"></i> 
        {{ 'IMAGE.DETAILS' | translate }}
      </a>
      <a class="pull-right btn btn-primary" ng-click="toggleDetails = false" ng-show="toggleDetails"><i class="fa fa-minus"></i> 
        {{ 'IMAGE.DETAILS' | translate }}
      </a>
    </h2>
  </div>
</div>
<div class="col-md-4" ng-repeat="image in images">
  <div class="thumbnail">
    <a href="#/treatments/{{image.treatment.id}}/images/{{image.id}}">
      <img ng-src="{{image.photo}}"  style="height:205px">
    </a>
    <div class="caption" ng-show="toggleDetails">
      <p class="well well-sm">{{ image.description}}</p>
      <table class="table image-info">
        <tbody>
          <tr>
            <td><i class="fa fa-paperclip"></i> {{ 'OBJECT.SING' | translate }}</td>
            <td><a href="#/items/{{image.item.id}}">{{image.item.name}}</a></td>
          </tr>
          <tr>
            <td><i class="fa fa-paperclip"></i> {{ 'TREATMENT.SING' | translate }}</td>
            <td><a href="#/items/{{image.treatment.id}}">#{{image.treatment.id}}</a></td>
          </tr>
          <tr>
            <td><i class="fa fa-paperclip"></i> {{ 'INTERVENTION.SING' | translate }}</td>
            <td>{{image.intervention.id}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
