
<div class="navbar navbar-default" ng-init="init()">
  <div class="col-md-12" style="padding-top:20px">
    <div class="page-header subnav">
      <h1> Collections</h1>
    </div>
  </div>
  <div class="col-md-12">
    <p>
      <a ng-click="openModal(null,'new', 'md')" class="btn btn-primary">
        <i class="fa fa-plus"></i> New Collection
      </a>
    </p>
    <hr>
  </div>
  
  <div class="col-md-7">
      <div style="height:415px;overflow:scroll" class="panel panel-default">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="collection in collections | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
            <a ng-click="details(collection)">
              <i class="fa fa-tag"></i> {{ collection.name }} 
            </a>
          </li>
        </ul>
      </div>
      <ul class="pagination pagination-sm" style="margin:0 0 5px 0">
        <li ng-class="{disabled: pagination.page == 0}">
          <a ng-disabled="pagination.page == 0" ng-click="pagination.prevPage()">&laquo;</a>
        </li>
        <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: n == pagination.page}"  ng-disabled="n == pagination.page">
          <a ng-click="pagination.toPageId(n)">{{n + 1}}</a>
        </li>
        <li ng-class="{disabled: pagination.page+1 == pagination.numPages}">
          <a ng-disabled="pagination.page+1 == pagination.numPages" ng-click="pagination.nextPage()">&raquo;</a>
        </li>
      </ul>
  </div>
  <div <div class="col-md-5">
      <div ng-hide="selected" class="alert alert-info" style="text-align:center">
        <p>Select one collection to preview more info</p>
      </div>
      <div ng-show="selected">
        <div class="btn-group btn-group-sm">
          <a ng-click="open(selected_collection)" class="btn btn-default">Open</a>
          <a ng-click="openModal(selected_collection,'edit','md')" class="btn btn-default">Edit</a>
          <a ng-click="remove(selected_collection)" class="btn btn-default">Delete</a>
        </div>
        <button ng-click="close_selected()" ng-show="selected" class="close pull-right">×</button>
        <div class="panel panel-default" style="margin-top:10px">
          <div class="panel-heading">
            <div class="panel-title">
              <h3>
                {{selected_collection.name}}
              </h3>
            </div>
          </div>
          <div class="panel-body">
            <h5 ng-show="selected_collection.items.length < 1">
              No hay items
            </h5>
            <p ng-repeat="item in selected_collection.items">
              <a href="#/items/{{item.id}}"><i class="fa fa-chevron-right"></i> {{ item.name }}</a>
            </p>
          </div>
        </div>
      </div>
  </div>
</div>
