<div ng-init="init()">
  <hr>
  <div class="col-md-7">
    <h3>
      Collections
      <a ng-click="openModal(null,'new', 'md')" class=" pull-right btn btn-primary btn-xs">New Collection</a>
    </h3>
    <hr>
    
    <ul class="pagination pagination-sm" style="margin:0 0 5px 0">
      <li ng-class="{disabled: pagination.page == 0}">
        <a ng-disabled="pagination.page == 0" ng-click="pagination.prevPage()">&laquo;</a>
      </li>
      <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: n == pagination.page}"  ng-disabled="n == pagination.page">
        <a ng-click="pagination.toPageId(n)">{{n + 1}}</a>
      </li>
      <li ng-class="{disabled: pagination.page+1 == pagination.numPages}">
        <a ng-disabled="pagination.page+1 == pagination.numPages" ng-click="pagination.nextPage()">&raquo;</a>
      </li>
    </ul>
    <div style="height:415px;overflow:scroll" class="panel panel-default">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="collection in collections | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
          <h3>
            <a ng-click="details(collection)">
              {{ collection.name }} 
            </a>
          </h3>
          <hr>
          <p>{{ collection.description}}</p>
        </li>
      </ul>
    </div>
  </div>
  <div <div class="col-md-5">
    <h3> 
      Details panel
    </h3>
    <hr>
    <div ng-hide="selected" class="alert alert-info" style="text-align:center;margin-top:55px">
      <p>Select one collection to preview more info</p>
    </div>
    <div ng-show="selected">
      <div class="btn-group btn-group-sm">
        <a ng-click="open(selected_collection)" class="btn btn-primary">Open</a>
        <a ng-click="openModal(selected_collection,'edit','md')" class="btn btn-default">Edit</a>
        <a ng-click="remove(selected_collection)" class="btn btn-default">Delete</a>
      </div>
      <button ng-click="close_selected()" ng-show="selected" class="close pull-right">×</button>
      <div class="panel panel-default" style="margin-top:10px">
        <div class="panel-heading">
          <div class="panel-title">
            <h3>
              {{selected_collection.name}}
            </h3>
          </div>
        </div>
        <div class="panel-body">
          <h5 ng-show="selected_collection.items.length < 1">
            No hay items
          </h5>
          <ul class="list-unstyled" ng-show="selected_collection.items.length > 0">
            <li ng-repeat="item in selected_collection.items">
              <a href="#/item/{{item.id}}">{{ item.name }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>