<div ng-controller="TreatmentCtrl" ng-init="init()">
  <div class="col-md-12" style="padding-top: 20px">
    <div class="page-header subnav">
      <h1> 
        Treatment #{{ treatment.id }}
        <a href="#/items/{{treatment.item.id}}" class="pull-left subnav-link">
          <i class="fa fa-chevron-left"></i>
        </a>
      </h1>
    </div>
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <h4> 
              Diagnostico / Propuesta
              <a href="#" class="btn btn-sm btn-primary pull-right"><i class="fa fa-edit"></i> Editar</a>
            </h4>
          </div>
        </div>
        <div class="panel-body">
          <p class="well well-xs" ng-bind-html="treatment.diagnosis"></p>
          <p class="well well-xs" ng-bind-html="treatment.proposal"></p>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <a class="close pull-right" ng-click="toggleActions = true" ng-hide="toggleActions">&plus;</a>
            <a class="close pull-right" ng-click="toggleActions = false" ng-show="toggleActions">&times;</a>
            <h4> Intervenciones </h4>
          </div>
        </div>
        <div class="panel-body" ng-show="toggleActions">
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <a class="close pull-right" ng-click="toggleNotes = true" ng-hide="toggleNotes">&plus;</a>
            <a class="close pull-right" ng-click="toggleNotes = false" ng-show="toggleNotes">&times;</a>
            <h4>Notas</h4>
          </div>
        </div>
        <div class="panel-body" ng-show="toggleNotes">
          <treatment-note note="current_note" treatment="treatment"></treatment-note>
          <hr>    
          <p class="note" ng-repeat="note in treatment.notes">
            <i class="fa fa-comments-o"></i>
            {{ note.content }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>