development:
  host: 'host app'
  user: 'user_email'
  pass: 'password'

test:
  host: 'host app'
  user: 'user_email'
  pass: 'password'

production:
  host: 'host app'
  user: 'user_email'
  pass: 'password'

