<div class="navbar navbar-default subnav" ng-init="init()" ng-cloak>
  <div class="col-md-12">
    <h2>
      <i class="fa fa-user"></i> {{ 'USER.PROFILE' | translate }}
      <a class="pull-right btn btn-primary" ng-click="editUser = !editUser" ng-show="!editUser">
        <i class="fa fa-edit"></i> {{ 'BUTTON_EDIT' | translate }}
      </a>
      <a class="pull-right btn btn-primary" ng-click="editUser = !editUser" ng-show="editUser">
        <i class="fa fa-times"></i> {{ 'BUTTON_CANCEL' | translate }}
      </a>
    </h2>
  </div>
</div>
<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <form ng-submit="save(current_user)" class="form-horizontal" name="userForm" id="customForm">
        <div class="form-group">
          <label class="col-sm-2 control-label">{{ 'FIELD.EMAIL' | translate }}</label>
          <div class="col-sm-6">
            <input type="email" name="email" class="form-control" value="{{ current_user.email}}" readonly/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">{{ 'FIELD.NAME' | translate }}</label>
          <div class="col-sm-6">
            <input type="text" name="name" placeholder="{{ 'USER.PLACEHOLDER_NAME' | translate }}" class="form-control" ng-model="current_user.name" value="{{ current_user.name}}" ng-disabled="!editUser" required/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">{{ 'FIELD.SURNAME' | translate }}</label>
          <div class="col-sm-6">
            <input type="text" name="last_name" placeholder="{{ 'USER.PLACEHOLDER_LAST' | translate }}"  class="form-control" ng-model="current_user.last_name" value="{{ current_user.last_name}}" ng-disabled="!editUser" required/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">{{ 'FIELD.LANGUAGE' | translate }}</label>
          <div class="col-sm-6">
            <div class="form-control" ng-show="!editUser" style="background: #eee;">
              <img ng-src="/assets/{{current_user.lang}}.png"/> <b>{{ 'LANG' | translate}}</b>
            </div>
            <select class="form-control" ng-model="current_user.lang" ng-show="editUser" ng-change="updateLang()">
              <option value="pt">{{ 'BRAZIL' | translate }}</option>
              <option value="es">{{ 'SPANISH' | translate }}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-green" ng-disabled="!editUser || userForm.$invalid || working">
              {{ 'BUTTON_SUBMIT' | translate }}
              <i class="fa fa-spin fa-spinner" ng-show="working"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
