<div class="navbar navbar-default subnav" ng-init="init()">
  <div class="col-md-12">
    <h2>
      <i class="fa fa-users"></i> {{ 'USER.PLUR' | translate }}
    </h2>
  </div>
</div>
<div class="loader" ng-show="loading">
  <i class="fa fa-spinner fa-spin"></i> 
  <h4>{{ 'LOADING' | translate }}</h4>
</div>
<div class="col-md-12" ng-show="!loading">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-plus"></i> {{ 'USER.NEW' | translate }}</h3>
    </div>
    <div class="panel-body">
      <form ng-submit="save(user)" name="userForm" class="form-inline">
        <div class="form-group col-md-4" style="padding-left:0">
          <input name="email" class="form-control" ng-pattern="/^[a-zA-Z.-]+@[a-zA-Z]+\.[a-z]{3}$/" ng-model="user.email" placeholder="example@email.com" style="width:100%" required>
        </div>
        <div class="form-group col-md-3">
          <input name="name" class="form-control" ng-model="user.name" placeholder="Nome..." style="width:100%" required>
        </div>
        <div class="form-group col-md-3">
          <input name="last_name" class="form-control" ng-model="user.last_name" placeholder="Sobrenome..." style="width:100%" required>
        </div>
        <div class="form-group col-md-2"  style="padding:0">
          <button ng-disabled="userForm.$invalid || working" class="btn btn-green" type="submit" >
            <i ng-hide="working" class="fa fa-check"></i>
            <i ng-show="working" class="fa fa-spin fa-spinner"></i>
          </button>
          <button class="btn btn-default" ng-click="clear()">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table" >
        <thead>
          <th>{{ 'FIELD.NAME' | translate }}</th>
          <th>{{ 'FIELD.SURNAME' | translate }}</th>
          <th>{{ 'FIELD.EMAIL' | translate }}</th>
          <th>{{ 'ACTIONS' | translate }}</th>
        </thead>
        <tbody>
          <tr ng-repeat="user in users">
            <td>
              {{ user.name}}
            </td>
            <td>
              {{ user.last_name}}
            </td>
            <td>
              {{ user.email}}
            </td>
            <td>
              <a ng-click="delete(user)" ng-hide="current_user.id == user.id"><i class="fa fa-trash-o text-danger"></i></a>
              <a ng-click="reSend(user)" ng-hide="user.confirmed"><i class="fa fa-envelope-o"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
