body { background: #333; font-family: 'Ubuntu'; color: #4b4b4b;}

#brand{
  background: #fff;
  color: #333;
  padding: 30px 50px;
  margin: -1px 0px 0 0;
  border-right: solid 1px #ccc;
}

#brand .title{
  font-size: 14px;
  border-bottom: solid 1px #4b4b4b ;
  padding-bottom: 2px;
}

#brand .search{
  border: solid 4px #1b926c;
  border-radius: 30px;
  padding: 6px 5px;
  font-size: 22px;
  z-index: 30;
  margin-left: -4px;
}

#brand .search .ar {
  border-bottom: solid 3px #4b4b4b ;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.navbar {
  border-radius: 0px;
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: none;
}

.nav.navbar-nav{
  padding:0px 15px;
}

.nav-green{
  background: #1fa67a;
}

.nav-green .navbar-nav > li > a, .navbar-default .navbar-brand, .navbar-default .navbar-brand{
  color: #f1f1f1;
}

.nav-green .navbar-nav > li > a:hover, .nav-green .navbar-nav > li > a:focus,
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fff;
}

.navbar-header{
  padding: 0px 15px;
}

.navbar-header .navbar-brand{
  font-size: 25px;
}


.nav.navbar-nav.menu{
  margin-left: 6px;
  font-size: 17px;
}
a, a:hover{
  outline:none;
  cursor: pointer;
  text-decoration: none;
}

table.details-table td{
  width: 160px;
}

table.details-table td:last-child{
  width: 50px;
}

.intervention{
  margin-bottom: 15px;
  border-bottom: solid 1px #f1f1f1;
  padding-bottom: 10px;
}

.intervention:last-child{
  border-bottom: none;
}

.intervention p{
  margin-bottom: 5px;
}
.intervention .toggle-intervention{
  float: right;
  margin-top: 0px;
}

.intervention .toggle-intervention a i{
  margin: 0px 10px;
}

.note{
  margin-bottom: 10px;
  padding-bottom: 7px;
}

.note:last-child{
  border-bottom: none;
}

.note p{
  margin-bottom: 5px;
}

.note small{
  margin-top: 0px;
}

table.details-table td.detail-actions .actions{
  display: none;
}

table.details-table tr.detail-row:hover td .actions{
  display: inline-block;
}

.center-text{
  text-align: right;
}

.myDropdown{
  position: absolute;
  width: 99%;
  top: 0px;
  left: 213px;
  background: #fff;
  margin:0;
  padding:0;
  list-style:none;
  max-height: 250px;
  overflow: scroll;
  z-index: 10000;
}
.myDropdown li {
   padding: 10px 0;
   border-bottom: 1px #eeeeee solid;
   border-right: 1px #ccc solid;
}

.myDropdown li:last-child{
   border-bottom: solid 1px #ccc;
}
.myDropdown li.header{
  padding: 15px 20px;
  font-size: 13px;
  color: #4b4b4b;
  background: #fff;
  height: 51px;
  border: 1px #ccc solid;
  border-left: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

  .myDropdown li.header a{
  color: #ccc;
  text-decoration:none;
  float: right;
  font-size: 17px;
  margin-top: -3px;
}

.myDropdown li.item:hover{
  background: #428bca;
}

.myDropdown li.item:hover a{
  color: #fff;  
}

.myDropdown li.item a{
  padding: 10px 0 10px 15px;
  text-decoration:none;
  color: #4b4b4b;
}

.myDropdown li.item a i{
  margin-right: 10px;
}

.side-bar{
  color: #f1f1f1;
  margin: 0;
  padding: 0;
 }

.side-bar .profile-box{
  padding: 15px 30px 15px 30px;
  border-top: 1px solid #4b4b4b;
  border-bottom: 1px solid #4b4b4b;
  background: #333;
  margin: -1px 0;
}

.side-bar .profile-box a{
  font-size: 12px;
  color: #f1f1f1;
}

.side-bar .profile-box a:hover{
  color: #fff;
}

.side-bar a{
  color: #f1f1f1;
}

.side-bar a:last-child{
  margin-left: 5px;
}

.side-bar a:first-child{
  margin-right: 10px;
}

.main-content{
  background: #f1f1f1;
  min-height: 630px;
}

.main-content .well{
  background: #fff;
}

.main-content .panel-default .panel-heading{
  background-color: #fff;
}

.main-content hr{
  border-top: 1px solid #ccc;
}

.side-bar .list-group-item {
  background: transparent;
  position: relative;
  display: block;
  padding: 20px 30px;
  border:none;  
  border-top: 1px solid #4b4b4b;
  cursor: pointer;
}


.side-bar .list-group-item:hover{
  background: #4A4849;
}

.side-bar .list-group-item.active .arrow-left{
  display: initial;
}

.side-bar .list-group-item:hover a{
  color: #fff;
}

.side-bar .list-group-item:first-child {
  border-top: none;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.side-bar .list-group-item:last-child {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom: 1px solid #4b4b4b;
}

.main-content .subnav{
  margin: -1px -15px -1px -15px;
  padding: 10px 15px 0 15px;
  border: none;
  border-bottom: 3px solid #333;
  background: #fff;
  border-radius: 0;
  min-height: 94px;
}

.subnav-link{
  margin: -2px 15px 0px 0px;
  font-size: 25px;
  padding: 5px;
  color: #999;
}

#search-form{
  position: relative;
  padding: 0px;
  margin: 0px;
  height: 51px;
}


#search-form .control-form input.form-control{
  background: #333;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  transition: none;
  border-radius: 0;
  color: #f1f1f1;
  border: none;
  padding: 10px 20px 10px 25px;
  height: 50px;
}


#search-form .myDropDown i{
  position: absolute;
  right: 25px;
  top: 10px;
  color: #fff;
}

#search-form .control-form  i.fa-search{
  position: absolute;
  right: 22px;
  top: 18px;
  color: #666;
}

#search-form .control-form input.form-control:focus{
  outline: none;
  background: #3B3A39;
}

.btn-green{
  background: #1fa67a;
  color: #f1f1f1;
  border-color: #1b926c;
}
.btn-green:focus, .btn-green:hover{
  color: #fff;
}

.item-panel .item{
  margin: 10px 0;
}

.item-panel .item i{
  color: #4F4F4F;
  font-size: 12px;
}

table.image-info{
  font-size: 12px;
  margin-bottom: 0px;
}

.image-placeholder{
  float: left;
  position: relative;
  margin: 10px 0;
}
.image-placeholder i{
  position: absolute;
  top: 8px;
  right: 20px;
  color: #999;
}

.image-placeholder #uploadFile{
  padding: 4px 5px;
  border: solid 1px #ccc;
  margin-right: 5px;
  border-radius: 2px;
  width: 14.5em;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 0px 0px 10px 0;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

#preview{
  position: relative;
  height: 150px;
  background: #e4e4e4;
  border: solid 1px #6A696B;
  width: 200px;
  border-radius: 5px;
}

#item-cover:hover .cover{
  display: block;
}

form#itemCover{
  margin-top: -10px;
}

form#itemCover button{
  padding: 4px 10px;
  margin-top: 1px;
}
.cover{
  display: none;
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 200px;
  padding: 3px;
  background: #4f4f4f;
  color: #fff;
  text-align: center;
  opacity: 0.9;
  cursor: pointer;
}

.exam{
  margin-bottom: 15px;
  border-bottom: solid 1px #f1f1f1;
  padding-bottom: 10px;
}
.exam .well{
  margin-bottom: 5px;
}
.exam .exam-name{
  padding: 0 5px;
}
.exam .exam-name h3{
  margin: 0;
  padding-bottom: 10px;
}
#detailsPanel .nav > li > a{
  padding: 5px 15px;
}
#treatment h4 i{
  border: solid 1px #999;
  padding: 6px;
  border-radius: 20px;
  float: left;
  margin: -5px 5px 0 0;
}

.form-title{
  margin: 0 0 10px 0;
  padding: 10px;
  background: #f9f8f7;
  border: 1px solid #999;
}

.alert-panel{
  margin: -1px -15px 0 -16px; 
  border-radius:0;
  font-weight: bold;
  padding: 20px 20px;
}

.alert-panel.alert-success{
  border-bottom: solid 1px #329439;
}

.download{
  margin-right:10px;
}
.download:last-child{
  margin-right:0px;
}

.arrow-left {
  display: none;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #f1f1f1;
  position: absolute;
  right: 0px;
}

.arrow-left-search {
  width: 0;
  height: 0;
  top: 15px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #fff;
  position: absolute;
  right: 0px;
}
.panel-collection{
  display: inline-block;
  background: #fff;
  margin: 0 10px;
  width: 200px;
}
.panel-collection:first-child{
  margin-left: 0;
}

.panel-collection .header{
  background: #428bca;
  color: #f1f1f1;
  border: solid 1px #428bca;
  padding: 5px 10px;
  font-weight: bold;
}

.panel-collection .header i{
  margin-right: 10px;
}

.panel-collection .content{
  padding: 10px;
  color: #666;
  font-weight: bold;
  font-size: 18px;
  border-bottom: solid 1px #ccc;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
  height: 80px;
}


