@import url("//fonts.googleapis.com/css?family=Numans");

html{ height: 100%;}

body { background: #e4e7ea; font-family: 'Numans'; color: #4b4b4b;}

#brand{
  background: #fff;
  padding: 10px 0px 5px 50px;
  margin: 0px;
  border-bottom: 3px solid #1d2939;
  border-right: 1px solid #1d2939;
  border-radius: 0;
  height: 70px;
}

#brand .title{
  font-size: 14px;
  border-bottom: solid 1px #4b4b4b ;
  padding-bottom: 2px;
}

#brand .search{
  border: solid 4px #1b926c;
  border-radius: 30px;
  padding: 6px 5px;
  font-size: 22px;
  z-index: 30;
  margin-left: -4px;
}

#brand .search .ar {
  border-bottom: solid 3px #4b4b4b ;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.navbar {
  border-radius: 0px;
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: none;
}

.nav.navbar-nav{
  padding:0px 15px;
}

.nav-green{
  background: #1fa67a;
}

.text-green{
  color: #1fa67a;
}

.nav-green .navbar-nav > li > a, .navbar-default .navbar-brand, .navbar-default .navbar-brand{
  color: #f1f1f1;
}

.nav-green .navbar-nav > li > a:hover, .nav-green .navbar-nav > li > a:focus,
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fff;
}

.nav.navbar-nav.menu{
  margin-left: 6px;
  font-size: 17px;
}

a, a:hover{
  outline:none;
  cursor: pointer;
  text-decoration: none;
}

.alert-panel{
  position: absolute;
  width: 40%;
  top: 10px;
  left: 300px;
  z-index: 100;
  height: 50px;
}

.alert button{ vertical-align: center;}

.center-text{
  text-align: right;
}


.btn-green{
  background: #1fa67a;
  color: #f1f1f1;
  border-color: #1b926c;
}

.btn-green:focus, .btn-green:hover{
  color: #fff;
}

table.details-table td{
  width: 160px;
}

table.details-table td:last-child{
  width: 50px;
}


table.details-table td.detail-actions .actions{
  display: none;
}

table.details-table tr.detail-row:hover td .actions{
  display: inline-block;
}


.subnav-link{
  margin: 0px 15px 0px 0px;
  font-size: 25px;
  padding: 4px;
  color: #999;
}

.intervention{
  margin-bottom: 15px;
  border-bottom: solid 1px #f1f1f1;
  padding-bottom: 10px;
}

.intervention:last-child{
  border-bottom: none;
}

.intervention p{
  margin-bottom: 5px;
}
.intervention .toggle-intervention{
  float: right;
  margin-top: 0px;
}

.intervention .toggle-intervention a i{
  margin: 0px 10px;
}

.note{
  margin-bottom: 10px;
  padding-bottom: 7px;
}

.note:last-child{
  border-bottom: none;
}

.note p{
  margin-bottom: 5px;
}

.note small{
  margin-top: 0px;
}

.item-panel .item{
  margin: 10px 0;
}

.item-panel .item i{
  color: #4F4F4F;
  font-size: 12px;
}

table.image-info{
  font-size: 12px;
  margin-bottom: 0px;
}

.image-placeholder{
  float: left;
  position: relative;
  margin: 10px 0;
}
.image-placeholder i{
  position: absolute;
  top: 8px;
  right: 20px;
  color: #999;
}

.image-placeholder #uploadFile{
  padding: 4px 5px;
  border: solid 1px #ccc;
  margin-right: 5px;
  border-radius: 2px;
  width: 16em;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 0px 0px 10px 0;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

#preview{
  position: relative;
  height: 150px;
  background: #e4e4e4;
  border: solid 1px #b4b4b4;
  width: 200px;
  border-radius: 5px;
  padding: 5px;
}

#item-cover:hover .cover{
  display: block;
}

form#itemCover{
  margin-top: -10px;
}

form#itemCover button{
  padding: 4px 10px;
  margin-top: 1px;
}
.cover{
  display: none;
  position: absolute;
  bottom: 6px;
  left: 21px;
  width: 188px;
  padding: 3px;
  background: #333;
  color: #fff;
  text-align: center;
  opacity: 0.9;
  cursor: pointer;
}

.exam{
  margin-bottom: 15px;
  border-bottom: solid 1px #f1f1f1;
  padding-bottom: 10px;
}
.exam .well{
  margin-bottom: 5px;
}
.exam .exam-name{
  padding: 0 5px;
}
.exam .exam-name h3{
  margin: 0;
  padding-bottom: 10px;
}
#detailsPanel .nav > li > a{
  padding: 5px 15px;
}
#treatment h4 i{
  border: solid 1px #999;
  padding: 6px;
  border-radius: 20px;
  float: left;
  margin: -5px 5px 0 0;
}

.form-title{
  margin: 0 0 10px 0;
  padding: 10px;
  background: #f9f8f7;
  border: 1px solid #999;
}

.download{
  margin-right:10px;
}
.download:last-child{
  margin-right:0px;
}

.panel-collection{
  display: inline-block;
  background: #fff;
  margin: 0 10px;
  width: 200px;
}
.panel-collection:first-child{
  margin-left: 0;
}

.panel-collection .header{
  background: #428bca;
  color: #f1f1f1;
  border: solid 1px #428bca;
  padding: 5px 10px;
  font-weight: bold;
}

.panel-collection .header i{
  margin-right: 10px;
}

.panel-collection .content{
  padding: 10px;
  color: #666;
  font-weight: bold;
  font-size: 18px;
  border-bottom: solid 1px #ccc;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
  height: 80px;
}

#customForm{
  padding: 20px;
}

.iname{
  padding: 0 5px;
}
.idesc{
  padding: 10px;
  border: solid 1px #ccc;
  height: 150px;
}
.idesc p{
  padding: 10px;
}

.idesc i.fa-edit{
  display: none;
  font-size: 20px;
  position: absolute;
  right: 30px;
  top: 20px;
  cursor: pointer;
}
.iname:hover{
  border-bottom: solid 1px #ccc;
  cursor: pointer;
}

.iname:hover, .idesc:hover i.fa-edit{
  display: inline-block;
}

.itemNameForm {
  margin-top: 3px;
  float: left;
}

.itemNameForm input{
  padding: 18px;
  margin-top: -10px;
  font-size: 20px;
}
.itemNameForm button{
  padding: 8px 10px;
  margin-top: -10px;
}

.loader{
  text-align: center;
  color: #6A6A6A;
  width: 80%;
  padding: 50px;
  margin: 100px auto;
}

.loader h4, .loader i{
  font-size: 25px;
}

.empty-message{
  text-align: center;
  font-size: 40px;
  color: #6A6A6A;
  background: #EBECED;
  width: 80%;
  padding: 50px;
  margin: 100px auto;
}

.message-help{
  margin: 5px 10px;
  font-size: 12px;
  padding: 8px 15px;
}