body { padding-top: 50px;   background: #333;}

.navbar {
  border-radius: 0px;
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}

.nav-green{
  background: #1fa67a;
}

.nav-green .navbar-nav > li > a, .navbar-default .navbar-brand, .navbar-default .navbar-brand{
  color: #f1f1f1;
}
.nav-green .navbar-nav > li > a:hover, .nav-green .navbar-nav > li > a:focus,
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fff;
}

a, a:hover{
  outline:none;
  cursor: pointer;
  text-decoration: none;
}

.profile-name{
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 15px;
  line-height: 20px;
}
table.details-table td{
  width: 160px;
}

table.details-table td:last-child{
  width: 50px;
}

table.details-table td.detail-actions .actions{
  display: none;
}

table.details-table tr.detail-row:hover td .actions{
  display: inline-block;
}

.center-text{
  text-align: right;
}

/* my dropdown 
.myDropdown{
   position: absolute;
   min-width: 251px;
   top: 50px;
   left:49px;
   background: #fff;
   margin:0;
   padding:0;
   box-shadow: 0px 5px 5px -2px #666;
   -moz-box-shadow: 0px 5px 5px -2px #666;
   -webkit-box-shadow: 0px 5px 5px -2px #666;
   z-index: 99999;
   list-style:none;
   border: solid 1px #eeeeee;
   max-height: 250px;
   overflow: scroll;
}
.myDropdown li {
   padding: 10px 0;
   border-bottom: 1px #eeeeee solid;
}
.myDropdown li:last-child{
   border-bottom: none;
}
.myDropdown li.header{
   padding: 5px 10px 5px 10px;
   font-size: 13px;
}

.myDropdown li.header a{
   color: #999;
   text-decoration:none;
   float: right;
   font-size: 15px;
   padding-right: 5px;
}

.myDropdown li.item:hover{
   background: #428bca;
}
.myDropdown li.item:hover a{
   color: #fff;  
}
.myDropdown li.item a{
   padding: 10px 0 10px 15px;
   text-decoration:none;
}
.myDropdown li.item a i{
   margin-right: 10px;
}
-------*/

.side-bar{
  padding:0;
  color: #f1f1f1;
  width: 213px;
  position: fixed;
 }

.side-bar .profile-box{
  padding: 12px 0px 20px 30px;
  margin: 2px auto;
}

.side-bar .profile-box .user{
  text-align: left;
}
.side-bar .profile-box .user .date{
  color: #ddd;
  font-size:11px;
}
.side-bar .profile-box a{
  font-size: 11px;
  color: #999;
}

.side-bar .profile-box a:hover{
  color: #bcbcbc;
}

.side-bar a{
  color: #bcbcbc;
}

.side-bar a:hover{
  color: #f1f1f1;
}

.side-bar a:first-child{
  margin-right: 10px;
}

.main-content{
  background: #f1f1f1;
  border-left: solid 1px #f1f1f1;
  margin: -18px 0 0 214px;
  min-height: 600px;
}

.main-content .well{
  background: #fff;
}

.main-content .panel-default .panel-heading{
  background-color: #fff;
}

.main-content hr{
  border-top: 1px solid #ccc;
}

.side-bar .list-group-item {
  background: transparent;
  position: relative;
  display: block;
  padding: 10px 15px 10px 30px;
  border: 1px solid #ddd;
  border-right: none;
  border-left: none;
  border-bottom: none;
}

.side-bar .list-group-item.active{
  background: #4F4F4F;
}
.side-bar .list-group-item.active a{
  color: #fff;
}
.list-group-item:first-child {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.list-group-item:last-child {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border: 1px solid #ddd;
  border-right: none;
  border-left: none;
}

.main-content .subnav{
  padding: 12px 30px;
  margin: 0px -15px 20px -15px;
  border-bottom: 1px solid #bcbcbc;
  background: #fff;
  border-radius: 0;
}

.subnav-link{
  margin: 5px 20px 0px 0px;
  font-size: 20px;
  padding: 5px;
  color: #999;
}

#search-form{
  position: relative;
}

#search-form .control-form input.form-control{
  width: 300px;
  background: #f1f1f1;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  transition: none;
}

#search-form .control-form i{
  position: absolute;
  right: 25px;
  top: 10px;
  color: #999;
}
#search-form .control-form input.form-control:focus{
  outline: none;
  background: #fff;
  border-color: transparent;
}

.settings{
  padding-right: 30px;
  font-size: 20px;
}

.settings > li > a{
  padding: 16px;
  margin: -1px 1px;
}
.settings > li > a{
  color: #f1f1f1;
}

.btn-green{
  background: #1fa67a;
  color: #f1f1f1;
  border-color: #1b926c;
}
.btn-green:hover{
  color: #fff;
}
