.signin-panel{
  background: #1d2939;
  border-top: 3px solid #1b926c;
}

#signin{
  width:40%;
  margin: 50px auto;
}

#signin .title{
  color: #f1f1f1;  
  margin-bottom: 20px;
}
#signin .panel{
  background: #e4e4e4;
}

#signin a{
  color: #696969;
}

#signin .panel a:hover{
  color: #333;
}

#signin .form-group-icon{
  position:relative;
}

#signin .form-group-icon i{
  position:absolute;
  top:15px;
  right:15px;
  font-size: 15px;
  opacity: 0.8;
}

#signin .form-control{
  background: #f1f1f1;
  border: solid 1px #ccc;
  border-color: #ccc;
  box-shadow: none;
  -webkit-box-shadow: none;
  -fox-box-shadow: none;
  padding: 20px 10px;
}

#signin .form-control:focus{
  outline: none;
  background: #fff;
}

#signin hr{
  border-top: 1px solid #999;
  margin: 30px 0 20px 0;
}

#signin .footer, #signin .footer a{
  color: #999;
}

#signin .footer a:hover{
  color: #f1f1f1;
}

#signin a.forgot{
  color:#999;
  margin:10px 0;
  font-size: 13px;
}

#signin #brand{
  color: #eee !important;
  padding: 30px 0;
  text-align: right;
  background: transparent;
  border-right: none;
}

#signin #brand:after{
  clear: both;
}

#signin #brand .title{
  font-size: 15px;
  border-bottom: solid 1px #eee ;
  padding-bottom: 2px;
}

#signin #brand .search{
  border: solid 4px #167858;
  border-radius: 30px;
  padding: 6px 5px;
  font-size: 20px;
  z-index: 30;
  margin-left: -4px;
}

#signin #brand .search .ar {
  border-bottom: solid 3px #eee !important;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.flags span{
  cursor: pointer;
}
.flags .active{
  border-bottom: solid 2px #1d2939;
  padding-bottom: 5px;
}