/* main conent */
.main-content{
  background: #e4e7ea;
  float: right;
}

.main-content:after{
  clear: both;
}

.main-content .well{
  background: #fff;
}

.main-content .panel-default .panel-heading{
  background-color: #fff;
}

.main-content hr{
  border-top: 1px solid #ccc;
}

.main-content .subnav{
  margin: -1px -15px -1px -15px;
  padding: 16px 15px 20px 15px;
  border: none;
  border-bottom: 3px solid #1d2939;
  background: #fff;
  border-radius: 0;
  min-height: 94px;
}