<div ng-controller="ExamsCtrl" ng-init="init()">
  <div class="col-md-12" style="padding-top: 20px">
    <div class="page-header subnav">
      <h1> 
        Analises
      </h1>
    </div>
  </div>
  <div class="col-md-12" style="margin-top:30px">
    <div class="panel panel-default">
      <table class="table table-hover">
        <thead>
          <th>Nome</th>
          <th>Resultado</th>
          <th>Observacoes</th>
        </thead>
        <tbody>
          <tr ng-repeat="exam in exams">
            <td>
              <a href="#/item/{{exam.item_id}}" class="panel-title">      
                <h4>{{ exam.name }}</h4>
              </a>
              <p>
                <a href="#/items/{{exam.item.id}}">{{ exam.item.name}}</a> | 
                <a href="#/items/{{exam.item.id}}/treatment/{{exam.treatment_id}}">Tratamento #{{ exam.treatment_id}}</a>
              </p>
            </td>
            <td>
              <p class="well">{{ exam.result}}</p>
            </td>
            <td>
              <p class="well">{{ exam.observations}}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>