<div class="navbar navbar-default subnav" ng-init="init()">
  <div class="col-md-12">
    <h2>
      <i class="fa fa-search"></i> {{ 'EXAM.PLUR' | translate }}
    </h2>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <table class="table">
      <thead>
        <th>{{ 'FIELD.NAME' | translate }}</th>
        <th>{{ 'FIELD.RESULT' | translate }}</th>
        <th>{{ 'FIELD.OBSERVATION' | translate }}</th>
      </thead>
      <tbody>
        <tr ng-repeat="exam in exams">
          <td>
            <a href="#/item/{{exam.item_id}}" class="panel-title">
              <h4>{{ exam.name }}</h4>
            </a>
            <p>
              <a href="#/items/{{exam.item.id}}">{{ exam.item.name}}</a> |
              <a href="#/items/{{exam.item.id}}/treatment/{{exam.treatment_id}}">{{ 'TREATMENT.SING' | translate }} #{{ exam.treatment_id}}</a>
            </p>
          </td>
          <td>
            <p class="well">{{ exam.result}}</p>
          </td>
          <td>
            <p class="well">{{ exam.observations}}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
