<form ng-submit="save(exam)" name="examForm">  
  <div class="alert alert-info"><b>{{ 'ADD_MESSAGE' | translate}} {{ 'EXAM.SING' | translate }}</b></div>  
  <div class="form-group">
    <input type="text" name="name" required placeholder="{{ 'EXAM.PLACEHOLDER_NAME' | translate }}"" ng-model="exam.name" value="exam.name" class="form-control"/>
  </div>
  <div class="form-group">
    <textarea type="text" placeholder="{{ 'EXAM.PLACEHOLDER_RES' | translate }}"" rows="5" name="result" ng-model="exam.result" class="form-control" required/>
  </div>
  <div class="form-group">
    <textarea name="observations" ng-model="exam.observations" class="form-control" placeholder="{{ 'EXAM.PLACEHOLDER_OBS' | translate }}"/>
  </div>
  <div class="form-group">
    <button type="submit" ng-disabled="examForm.$invalid" class="btn btn-primary btn-sm">
      {{ 'BUTTON_SUBMIT' | translate }}
    </button>
  </div>
</form>