<div class="modal-header">
  <h3 class="modal-title">
    {{ 'EXAM.SING' | translate }} {{element.name}}
    <button class="close" ng-click="cancel()">&times;</button>
  </h3>
</div>
<div class="modal-body clearfix">
  <h4> {{ 'FIELD.RESULT' | translate }}</h4>
  <p class="well well-sm">
    {{ element.result }}
  </p>
  <h4> {{ 'FIELD.OBSERVATION' | translate }}</h4>
  <p class="well well-sm">
    {{ element.observations }}
  </p>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">{{ 'BUTTON_CLOSE' | translate }}</button>
</div>