<div ng-controller="TreatmentCtrl" ng-init="init()">
  <div class="col-md-12" style="padding-top: 20px">
    <div class="page-header subnav">
      <h1> 
        Treatment #{{ treatment.id }}
        <a href="#/items/{{treatment.item.id}}" class="pull-left subnav-link">
          <i class="fa fa-chevron-left"></i>
        </a>
      </h1>
    </div>
    <div class="alert col-md-12" ng-class='"alert-" + (alert.type || "warning")' ng-show="alert.message != ''">
       <button type="button" class="close" ng-click="closeAlert()">&times;</button>
      {{alert.message}}
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <h4> 
            Diagnostico / Propuesta
            <a href="#" class="btn btn-sm btn-primary pull-right"><i class="fa fa-edit"></i> Editar</a>
          </h4>
        </div>
      </div>
      <div class="panel-body">
        <p class="well well-xs" ng-bind-html="treatment.diagnosis"></p>
        <p class="well well-xs" ng-bind-html="treatment.proposal"></p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <a class="close pull-right" ng-click="toggleActions = true" ng-hide="toggleActions">&plus;</a>
          <a class="close pull-right" ng-click="toggleActions = false" ng-show="toggleActions">&times;</a>
          <h4> Intervenciones </h4>
        </div>
      </div>
      <div class="panel-body">
        <div  ng-show="toggleActions">
          <intervention-form treatment="treatment"></intervention-form>
          <hr>
        </div>
        <div class="intervention clearfix" ng-repeat="intervention in treatment.interventions">
          <div class="col-md-2" style="padding-left:0px;padding-right:3px">
            <div class="label label-primary">{{intervention.intervention_type}}</div>
          </div>
          <div class="col-md-10" style="padding-right:0">
            <p class="well well-sm">{{ intervention.description }}</p>
          </div>
          <small class="toggle-intervention"> 
            <a ng-click="removeIntervention(intervention)" class="text-danger">Remove </a> |
            <a ng-click="openModalIntervention(intervention)">Abrir</a>
          </small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <a class="close pull-right" ng-click="toggleNotes = true" ng-hide="toggleNotes">&plus;</a>
          <a class="close pull-right" ng-click="toggleNotes = false" ng-show="toggleNotes">&times;</a>
          <h4>Notas</h4>
        </div>
      </div>
      <div class="panel-body">
        <div ng-show="toggleNotes">
          <treatment-note note="current_note" treatment="treatment"></treatment-note>
          <hr>    
        </div>
        <div class="note clearfix" ng-repeat="note in treatment.notes">
          <p class="well well-sm">
            <i class="fa fa-comments-o"></i> {{ note.content }}
          </p>
          <small class="text-muted">
            <a ng-click="removeNote(note)" class="text-danger pull-left">Eliminar</a>
            <div class="pull-right">criado {{note.created_at}} <i class="fa fa-clock-o"></i></div>
          </small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <a class="close pull-right" ng-click="toggleImages = true" ng-hide="toggleImages">&plus;</a>
          <a class="close pull-right" ng-click="toggleImages = false" ng-show="toggleImages">&times;</a>
          <h4>Imagens</h4>
        </div>
      </div>
      <div class="panel-body">
        <div ng-show="toggleImages">
          <form name="imageForm" ng-submit="doUpload(dataForm)">        
            <div class="row"> 
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label">Intervention</label>
                  <select ng-model="dataForm.intervention_id" class="form-control">
                    <option value="">select</option>
                    <option ng-repeat="intervention in treatment.interventions" value="{{intervention.id}}">{{intervention.id}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="form-label">Imagen</label>
                  <input id="file" type="file"/>
                </div>
              </div>
              <div class="col-md-8">      
                <div class="form-group">          
                  <label class="form-label">Descripcion</label>
                  <textarea ng-model="dataForm.description" rows="4" class="form-control" placeholder="Agregar una descripcion"/>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-green">Agregar</button>
                </div>
              </div>
            </div>
          </form>
          <hr>
        </div>
        <div class="row">
          <div class="col-md-3" ng-repeat="image in treatment.images">
            <div class="thumbnail">
              <img ng-src="{{image.photo}}">
              <div class="caption">
                <p>{{ image.description}}</p>
                <p>Intervention: #{{ image.intervention_id }} </p>
                <small><a href="#/treatments/{{treatment.id}}/images/{{image.id}}">Ver</a> | <a href="#">Borrar</a></small>
              </div>       
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>