<div ng-controller="TreatmentCtrl" ng-init="init()">
  <div class="col-md-12" style="padding-top: 20px">
    <div class="page-header subnav">
      <h2> 
        Tratamento #{{ treatment.id }} 
        <div class="pull-right">
          <span class="text-muted"><i style="font-size:25px" class="fa fa-ellipsis-v"></i></span>
          <span class="text-primary">{{ item.name }}</span>
        </div>
        <a href="#/items/{{treatment.item_id}}" class="pull-left subnav-link">
          <i class="fa fa-chevron-left"></i>
        </a>
      </h2>
    </div>
    <div class="alert col-md-12" ng-class='"alert-" + (alert.type || "warning")' ng-show="alert.message != ''">
       <button type="button" class="close" ng-click="closeAlert()">&times;</button>
      {{alert.message}}
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <a class="close pull-right" ng-click="toggleTreatment = true" ng-hide="toggleTreatment">&plus;</a>
          <a class="close pull-right" ng-click="toggleTreatment = false" ng-show="toggleTreatment">&times;</a>
          <h4>Diagnóstico / Proposta</h4>
        </div>
      </div>
      <div class="panel-body">
        <div ng-show="toggleTreatment">
          <p ng-dblclick="editDiagnosis = true" ng-hide="editDiagnosis" class="well well-xs" ng-bind-html="treatment.diagnosis"></p>
          <form ng-submit="update(treatment)" ng-show="editDiagnosis">
            <wysiwyg-edit name="diagnosis" content="treatment.diagnosis"></wysiwyg-edit>
            <br>
            <div class="form-group">
              <button type="submit" class="btn btn-sm btn-green">Salvar</button>
              <button ng-click="editDiagnosis = false" class="btn btn-sm btn-default">Cancelar</button>
            </div>
            <hr>
          </form>
          <p ng-dblclick="editProposal = true" ng-hide="editProposal" class="well well-xs" ng-bind-html="treatment.proposal"></p>
          <form ng-submit="update(treatment)" ng-show="editProposal">
            <wysiwyg-edit name="proposal" content="treatment.proposal"></wysiwyg-edit>
            <br>
            <div class="form-group">
              <button type="submit" class="btn btn-sm btn-green">Salvar</button>
              <button ng-click="editProposal = false" class="btn btn-sm btn-default">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6" id="interventionPanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <a class="close pull-right" ng-click="openAndScroll('toggleActions','interventionPanel')" ng-hide="toggleActions">&plus;</a>
          <a class="close pull-right" ng-click="toggleActions = false" ng-show="toggleActions">&times;</a>
          <h4> Intervenções </h4>
        </div>
      </div>
      <div class="panel-body">
        <div ng-show="toggleActions">
          <intervention-form interventions="interventions" treatment="treatment"></intervention-form>
          <hr>
        </div>
        <h4 class="text-muted" ng-show="interventions.length < 1">Atualmente não há intervenções</h4>
        <div class="intervention clearfix" ng-repeat="intervention in interventions">
          <div class="col-md-2" style="padding-left:0px;padding-right:3px">
            <div class="label label-primary">{{intervention.intervention_type}}</div>
          </div>
          <div class="col-md-10" style="padding-right:0">
            <p class="well well-sm">{{ intervention.description }}</p>
          </div>
          <small class="toggle-intervention"> 
            <a ng-click="openModalIntervention(intervention)">Ver</a> -
            <a ng-click="removeIntervention(intervention)" class="text-danger"> Apagar</a>
          </small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6" id="notePanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <a class="close pull-right" ng-click="openAndScroll('toggleNotes','notePanel')" ng-hide="toggleNotes">&plus;</a>
          <a class="close pull-right" ng-click="toggleNotes = false" ng-show="toggleNotes">&times;</a>
          <h4>Notas</h4>
        </div>
      </div>
      <div class="panel-body">
        <div ng-show="toggleNotes">
          <treatment-note notes="notes" open="toogleNotes" treatment="treatment"></treatment-note>
          <hr>    
        </div>
        <h4 class="text-muted" ng-show="notes.length < 1">Atualmente não há notas</h4>
        <div class="note clearfix" ng-repeat="note in notes">
          <p class="well well-sm">
            <i class="fa fa-comments-o"></i> {{ note.content }}
          </p>
          <small class="text-muted">
            <a ng-click="removeNote(note)" class="text-danger pull-right">Apagar</a>
            <div class="pull-left">criado {{note.created_at}} <i class="fa fa-clock-o"></i></div>
          </small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" id="imagePanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <a class="close pull-right" ng-click="openAndScroll('toggleImages','imagePanel')" ng-hide="toggleImages">&plus;</a>
          <a class="close pull-right" ng-click="toggleImages = false" ng-show="toggleImages">&times;</a>
          <h4>Imagens</h4>
        </div>
      </div>
      <div class="panel-body">
        <div ng-show="toggleImages">
          <form name="imageForm" id="imageForm" ng-submit="doUpload(dataForm)">        
            <div class="row"> 
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label">Intervenção <small class="text-muted">(Opcional)</small></label>
                  <select ng-model="dataForm.intervention_id" class="form-control">
                    <option value="">seleciona</option>
                    <option ng-repeat="intervention in interventions" value="{{intervention.id}}">{{intervention.id}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="form-label">Imagem</label>
                  <br>
                  <div class="image-placeholder">
                    <input id="uploadFile" placeholder="Choose File" disabled="disabled" />
                    <i class="fa fa-camera"></i>
                  </div>
                  <div class="fileUpload btn btn-green btn-sm">
                    <span>Imagem</span>
                    <input type="file" class="upload" id="file" type="file"/>
                  </div>
                </div>
              </div>
              <div class="col-md-8">      
                <div class="form-group">          
                  <label class="form-label">Descrição / Nome <small class="text-muted">(Opcional)</small></label>
                  <textarea ng-model="dataForm.description" rows="5" class="form-control" placeholder="Agregar una descripcion"/>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-sm btn-primary">Salvar</button>
                  <button class="btn btn-default btn-sm" ng-click="toggleImages=false">Cancelar</button>
                </div>
              </div>
            </div>
          </form>
          <hr>
        </div>
        <h4 class="text-muted" ng-show="images.length < 1">Atualmente não há imagens</h4>
        <div class="row">
          <div class="col-md-3" ng-repeat="image in images">
            <div class="thumbnail">
              <a href="#/treatments/{{treatment.id}}/images/{{image.id}}">
                <img ng-src="{{image.photo}}" style="height:140px">
              </a>
              <div class="caption">
                <p>{{ image.description}}</p>
                <p>Intervenção: #{{ image.intervention.id }} </p>
                <small><a href="#" class="btn btn-danger btn-xs">APAGAR</a></small>
              </div>       
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $("#file").on('change', function () {
      filename = $(this).val().split("\\")[2];
      $("#uploadFile").val(filename);
    });  
  });
</script>