<form ng-submit="save(intervention)" name="interventionForm">
  <div class="alert alert-info"><b>{{ 'ADD_MESSAGE' | translate}} {{ 'INTERVENTION.SING' | translate }}</b></div>
  <div class="form-group row">
    <div class="col-md-5">
      <select name="intervention_type" required ng-model="intervention.intervention_type" class="form-control" placeholder="Seleccion">
        <option value="">Tipo</option>
        <option ng-repeat="(key,value) in types" value="{{key}}">{{value}}</option>
      </select>
    </div>
    <div class="col-md-7 withDatePicker">
      <input type="text" name="intervention_date" class="form-control" datepicker-popup="{{format}}" ng-model="intervention.intervention_date" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="open($event)" placeholder="{{ 'INTERVENTION.PLACEHOLDER_DATE' | translate }}" required>
    </div>
  </div>
  <div class="form-group">
    <textarea name="description" 
      ng-model="intervention.description" 
      class="form-control" 
      placeholder="{{ 'INTERVENTION.PLACEHOLDER_DESC' | translate }}" 
      required></textarea>
  </div>
  <div class="form-group">
    <textarea name="materials" 
      ng-model="intervention.materials" 
      class="form-control" 
      placeholder="{{ 'INTERVENTION.PLACEHOLDER_MAT' | translate }}"></textarea>
  </div>
  <div class="form-group">
    <button type="submit" ng-disabled="interventionForm.$invalid" class="btn btn-primary btn-sm">
      {{ 'BUTTON_SUBMIT' | translate }}
    </button>
  </div>
</form>