<!DOCTYPE html>
<html ng-app="conservar">
<head>
  <title>Conservar - {{$state.current.title}}</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="shortcut icon" href="/assets/favicon.png" type="image/png">
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body ui-view="body" ng-controller="ConservarCtrl" class="{{ $state.current.className}}">
  <div class="col-md-2 side-bar" ng-controller="DashboardCtrl">
    <div id="brand"><a href="#/"><img src="/assets/logo.png" style="height:50px"></a></div>
    <form id="search-form" ng-controller="searchCtrl">
      <div class="control-form" style="position:relative">
        <ul class="myDropdown" ng-show="searching">
          <li ng-repeat="result in results | orderBy:model" class="item" focusable>
            <a ng-click="goTo(result.location)">
              <i class="fa fa-chevron-right"></i>
              {{ result.name }}
              <span class="pull-right" style="margin-right:5px">({{ result.model[0]}})</span>
            </a>
          </li>
        </ul>
        <input type="search" class="form-control" ng-keyup="search($event)" id="search" ng-model="keyword" placeholder="Procurar..."/>
        <i class="fa fa-search" ng-hide="searching"></i>
        <i class="fa fa-times" ng-click="clear()" ng-show="searching"x1></i>
      </div>
    </form>
    <ul class="list-group">
      <li class="list-group-item" ui-sref-active="active">
        <a href='#/collections' ui-sref="collections">
          <i class="fa fa-tags"></i> Itens
        </a>
        <span class="arrow-left"></span>
      </li>
      <li class="list-group-item" ui-sref-active="active">
        <a href="#/images" ui-sref="images">
          <i class="fa fa-camera"></i> Imagens
        </a>
        <span class="arrow-left"></span>
      </li>
      <li class="list-group-item" ui-sref-active="active">
        <a href="#/treatments" ui-sref="treatments">
          <i class="fa fa-bars"></i> Tratamentos
        </a>
        <span class="arrow-left"></span>
      </li>
      <li class="list-group-item" ui-sref-active="active">
        <a href="#/reports" ui-sref="reports">
          <i class="fa fa-file-pdf-o"></i> Relatórios
        </a>
        <span class="arrow-left"></span>
      </li>
      <li class="list-group-item" ui-sref-active="active">
        <a href="#/analises" ui-sref="exams">
          <i class="fa fa-search"></i> Análises
        </a>
        <span class="arrow-left"></span>
      </li>
      <li class="list-group-item" ui-sref-active="active">
        <a href="#/organization/{{current_user.organization.id}}" ui-sref="organization">
          <i class="fa fa-home"></i> Organização
        </a>
        <span class="arrow-left"></span>
      </li>
    </ul>
    <div class="profile-box">
      <div class="user">
        <a href="#/users/me" class="profile"><i class="fa fa-user"></i></a>
        <a ng-click="logout()" class="logout"><i class="fa fa-sign-out"></i></a>
      </div>
    </div>

  </div>
  <div class="col-md-10 main-content">
    <div class="alert alert-panel" ng-class='"alert-" + (alert.type || "warning")' ng-show="alert.message" style="margin: -1px -15px;">
      <button type="button" class="close" ng-click="closeAlert()">&times;</button>
      {{alert.message}}
    </div>
    <div ui-view="main"></div>
  </div>
</body>
</html>
