<!DOCTYPE html>
<html ng-app="conservar">
<head>
  <title>Conservar</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ui-view="main" class="container">
</body>
</html>
