<!DOCTYPE html>
<html ng-app="conservar">
<head>
  <title>Conservar - {{$state.current.title}}</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ui-view="body" ng-controller="ConservarCtrl">
  <div class="navbar-fixed-top">   
    <div class="navbar navbar-default nav-green" role="navigation">      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><i class="fa fa-recycle"></i> Conservar</a>
      </div>
      <ul class="nav navbar-nav menu" style="border-left: 1px solid #048549">
        <li>
          <a href="#/organization/{{current_user.organization.id}}/users"><i class="fa fa-users"></i> Users</a>
        </li>
      </ul>
      <ul  class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-left" id="search-form" ng-controller="searchCtrl" ng-submit="search()">
          <div class="control-form" style="position:relative">
            <input type="text" class="form-control" ng-keyup="search($event)" id="search" ng-model="keyword" placeholder="Procurar itens ou peças..." clear-with-esc/>
            <i class="fa fa-search"></i>
            <ul class="myDropdown" ng-show="searching">
              <li class="header">
                <div ng-show="loading"><i class="fa fa-spinner"></i> Procurando</div>
                <div ng-show="!loading && results.length < 1">Não foi possivel achar itens ou peças <a ng-click="clear()">×</a></div>
                <div ng-show="!loading && results.length > 0">Achados: <b>{{results.length}}</b> <a ng-click="clear()">×</a></div>
              </li>
              <li ng-repeat="result in results | orderBy:model" class="item" focusable>
                <a ng-click="goTo(result.location)">
                  <i class="fa fa-tag" ng-show="result.model == 'item'"></i>
                  <i class="fa fa-tags" ng-show="result.model == 'collection'"></i>
                  {{ result.name }}
                </a>
              </li>
            </ul>
          </div>
        </form>
      </ul>   
    </div>
  </div>
  <div class="col-md-2 side-bar" ng-controller="DashboardCtrl">
    <div class="profile-box">
      <div class="user">
        <h4>{{current_user.name }} {{ current_user.last_name }}</h4>
        <a href="#/users/me"><i class="fa fa-cog"></i> Perfil</a>
        <a ng-click="logout()"><i class="fa fa-sign-out"></i> Sair</a>
      </div>
    </div>
    <ul class="list-group">
      <li class="list-group-item" ui-sref-active="active">
        <a href='#/collections' ui-sref="collections">
          <i class="fa fa-tags"></i> Items
        </a>
        <span class="arrow-left"></span>
      </li>
      <li class="list-group-item" ui-sref-active="active">
        <a href="#/images" ui-sref="images">
          <i class="fa fa-camera"></i> Imagens
        </a>
        <span class="arrow-left"></span>
      </li>
      <li class="list-group-item" ui-sref-active="active">
        <a href="#/treatments" ui-sref="treatments">
          <i class="fa fa-bars"></i> Tratamentos
        </a>
        <span class="arrow-left"></span>
      </li>
      <li class="list-group-item" ui-sref-active="active">
        <a href="#/reports" ui-sref="reports">
          <i class="fa fa-file-pdf-o"></i> Relatórios 
        </a>
        <span class="arrow-left"></span>
      </li>
      <li class="list-group-item" ui-sref-active="active">
        <a href="#/analises" ui-sref="exams">
          <i class="fa fa-search"></i> Análises
        </a>
        <span class="arrow-left"></span>
      </li>
      <li class="list-group-item" ui-sref-active="active">
        <a href="#/organization/{{current_user.organization.id}}" ui-sref="organization">
          <i class="fa fa-home"></i> Organização
        </a>
        <span class="arrow-left"></span>
      </li>
    </ul>
  </div>
  <div ui-view="main" class="col-md-10 main-content clearfix"></div>
</body>
</html>
