<!DOCTYPE html>
<html ng-app="conservar">
<head>
  <title>Conservar - {{$state.current.title}}</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body ui-view="body" ng-controller="ConservarCtrl">
  <div class="col-md-2 side-bar" ng-controller="DashboardCtrl">
    <div id="brand">
      <span class="title">CONSERV<span class='search'><span class='ar'>AR</span></span></span>
    </div>
    <form class="" id="search-form" ng-controller="searchCtrl" ng-submit="search()">
      <div class="control-form" style="position:relative">
        <input type="search" class="form-control" ng-keyup="search($event)" id="search" ng-model="keyword" clear-with-esc/>
        <i class="fa fa-search" style="color: #f1f1f1"></i>
        <span class="arrow-left-search" ng-show="searching"></span>
        <ul class="myDropdown" ng-show="searching">
          <li class="header">
            <div ng-show="loading"><i class="fa fa-spinner"></i> Procurando</div>
            <div ng-show="!loading && results.length < 1">Sem resultados <a ng-click="clear()">×</a></div>
            <div ng-show="!loading && results.length > 0">Achados: <b>{{results.length}}</b> <a ng-click="clear()">×</a></div>
          </li>
          <li ng-repeat="result in results | orderBy:model" class="item" focusable>
            <a ng-click="goTo(result.location)">
              <i class="fa fa-tag" ng-show="result.model == 'item'"></i>
              <i class="fa fa-tags" ng-show="result.model == 'collection'"></i>
              {{ result.name }}
            </a>
          </li>
        </ul>
      </div>
    </form>
    <div class="profile-box">
      <div class="user">
        <a href="#/users/me" class='btn btn-green btn-sm'><i class="fa fa-user"></i> Perfil</a>
        <a ng-click="logout()" class='btn btn-green btn-sm'><i class="fa fa-sign-out"></i> Sair</a>
      </div>
    </div>
    
    <ul class="list-group">
      <li class="list-group-item" ui-sref-active="active">
        <a href='#/collections' ui-sref="collections">
          <i class="fa fa-tags"></i> Items
        </a>
        <span class="arrow-left"></span>
      </li>
      <li class="list-group-item" ui-sref-active="active">
        <a href="#/images" ui-sref="images">
          <i class="fa fa-camera"></i> Imagens
        </a>
        <span class="arrow-left"></span>
      </li>
      <li class="list-group-item" ui-sref-active="active">
        <a href="#/treatments" ui-sref="treatments">
          <i class="fa fa-bars"></i> Tratamentos
        </a>
        <span class="arrow-left"></span>
      </li>
      <li class="list-group-item" ui-sref-active="active">
        <a href="#/reports" ui-sref="reports">
          <i class="fa fa-file-pdf-o"></i> Relatórios 
        </a>
        <span class="arrow-left"></span>
      </li>
      <li class="list-group-item" ui-sref-active="active">
        <a href="#/analises" ui-sref="exams">
          <i class="fa fa-search"></i> Análises
        </a>
        <span class="arrow-left"></span>
      </li>
      <li class="list-group-item" ui-sref-active="active">
        <a href="#/organization/{{current_user.organization.id}}" ui-sref="organization">
          <i class="fa fa-home"></i> Organização
        </a>
        <span class="arrow-left"></span>
      </li>
    </ul>
  </div>
  <div ui-view="main" class="col-md-10 main-content clearfix"></div>
</body>
</html>
